.first-container {
    border: 1px solid #ccc;
    display: flex;
    text-align: left;
    margin-right: 60px;
    margin-left: 60px;
    border: 1px solid #ccc;
}

.first-container:hover {
    background-color: rgb(243, 243, 243);
}

.exclamation {
    margin: 10px 0px 10px 10px;
}

.title {
    font-weight: bold;
    font-size: 11px;
    margin:10px 0px 0px 0px;
}

.labels {
    padding: 5px;
    margin: 10px;
}

.url {
    font-size: 15px;
    margin: 10px 10px 10px 15px;
}